@model TPWeb.Models.Movie

@{
    ViewBag.Title = "Nouveau film";
}

@using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="main col-md-6">
            <div class="form-horizontal">
                <h3>
                    Creation d'un film&nbsp;&nbsp;
                    <a href="@Url.Action("Details", new { id = Model.id })" style="text-decoration:none">
                        <span title="Retour" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </a>
                </h3>
                <hr>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.poster)

                <div class="form-group">
                    @Html.LabelFor(model => model.title, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.title, new { @class = "form-control text-box single-line" })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.directors, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.directors, new { @class = "form-control text-box single-line" })
                        @Html.ValidationMessageFor(model => model.directors, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.year, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.year, (IEnumerable<SelectListItem>)ViewBag.YearList, new { @class = "form-control valid" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.categorie, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.categorieID, (IEnumerable<SelectListItem>)ViewBag.StyleList, new { @class = "form-control valid" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.country, new { @class = "control-label col-md-3" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.countryID, (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "form-control valid" })
                    </div>
                </div>
            </div>
        </div>
        <div class="main col-md-5">
            <h3>Casting</h3>
            <hr>
            <div class="row">
                <div class="col-xs-5 tightDivLeft">
                    <!--
                        This hidden input is used to pass the selected friend Ids
                        on the submit event of this form (refer to javascript code in utilies.js)
                    -->
                    <!-- NC -->
                    <input name="Items" id="Items" type="hidden" value="" />
                    <!-- NC -->
                    <select multiple="multiple" id="ItemList" size="12"></select>
                </div>
                <div class="col-xs-2 tightDiv" style="text-align:center">
                    <img src="~/Images/Icons/Moveleft.png" class="CMD_Icon pointer" id="MoveLeft" />
                    <img src="~/Images/Icons/MoveRight.png" class="CMD_Icon pointer" id="MoveRight" />
                </div>
                <div class="col-xs-5 tightDivRight">
                    <!-- NC -->
                    <select multiple="multiple" id="PoolList" size="12">
                        @foreach (TPWeb.Models.Actor Actor in ViewBag.Actors)
                        {
                            <option value="@Actor.id">
                                @Actor.name
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="main col-md-6">
            <input id="UploadButton" class="btn btn-primary" type="button" value="Choisir une affiche...">
            <hr>
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <div class="col-md-6">
                        <img id="UploadedImage" class="UploadedImage" src="@Url.Content(Model.GetPosterURL())" />
                        <input id="ImageUploader" name="ImageUploader" type="file"> <br> <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="main col-md-5">
            <h3 style="height:34px;">Synopsis</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.synopsis, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.synopsis, "", new { @class = "text-danger" })
                    <br>
                </div>
                <div class="col-md-9">
                    <input type="submit" value="Soumettre..." class="btn btn-success" id="save" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}