@model TPWeb.Models.Movie

@{
    ViewBag.Title = "Détails";
}

<div>
    <h3>
        @ViewBag.Title &nbsp;&nbsp;
        <a href="@Url.Action("Edit", new { id = Model.id })" style="text-decoration:none">
            <span title="Éditer" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
        <a href="@Url.Action("Delete", new { id = Model.id })" style="text-decoration:none" class="confirm" message="Voulez-vous vraiment effacer @Model.title?">
            <span title="Supprimer" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
        <a href="@Url.Action("Index")" style="text-decoration:none">
            <span title="Retour" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    </h3>
    <hr />
    <div>
        <h3>@Html.DisplayFor(model => model.title)</h3>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content(Model.GetPosterURL())" class="BigPoster" />
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal details">
                <dt>@Html.DisplayNameFor(model => model.directors)</dt>
                <dd>@Html.DisplayFor(model => model.directors)</dd>

                <dt>@Html.DisplayNameFor(model => model.year)</dt>
                <dd>@Html.DisplayFor(model => model.year)</dd>

                <dt>@Html.DisplayNameFor(model => model.categorie)</dt>
                <dd>@Html.DisplayFor(model => model.categorie)</dd>

                <dt>@Html.DisplayNameFor(model => model.country)</dt>
                <dd>@Html.DisplayFor(model => model.country)</dd>

                <dt>@Html.DisplayNameFor(model => model.synopsis)</dt>
                <dd>@Html.TextArea("synopsys", Model.synopsis, new { @class = "form-control", @readonly = "true", @rows = "8", @style = "margin: 0px -23px 0px 0px; width: 594px; height: 174px;" })</dd>

                <dt>Casting</dt>
                <dd>
                    <div style="height:260px; overflow-y:auto; overflow-x:hidden;">
                        @foreach (TPWeb.Models.Actor Actor in ViewBag.ParutionsList)
                        {
                            <a href="@Url.Action("Details/" + Actor.id.ToString(), "Actors", null, "http")" style="text-decoration:none" data-toggle="tooltip" data-placement="right" title="Voir les détails de @Html.DisplayFor(model => Actor.name)">
                                <h4><img src="@Url.Content(Actor.GetAvatarURL())" class="SmallAvatar"> @Html.DisplayFor(model => Actor.name)</h4>
                            </a>
                        }
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("document").ready(SortSelect("FriendsList"));
    </script>
}