@model TPWeb.Models.Movie

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country)
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year)
                @Html.ValidationMessageFor(model => model.year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categorie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.categorie)
                @Html.ValidationMessageFor(model => model.categorie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poster, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="UploadedImage" class="UploadedImage" src="@Url.Content(Model.GetPosterURL())" />
                <input id="ImageUploader" name="ImageUploader" type="file" /> <br />
                <input id="UploadButton" class="btn btn-primary" type="button" value="Choisir une affiche ..." />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.directors, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.directors)
                @Html.ValidationMessageFor(model => model.directors)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}