@model TPWeb.Models.Actor

@{
    ViewBag.Title = "Nouveau acteur";
}

<h2>Nouveau acteur</h2>


@using (Html.BeginForm("Create", "Actors", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Acteur</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birthday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthday)
                @Html.ValidationMessageFor(model => model.birthday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pictureId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="UploadedImage" class="UploadedImage" src="@Url.Content(Model.GetAvatarURL())" />
                <input id="ImageUploader" name="ImageUploader" type="file" /> <br />
                <input id="UploadButton" class="btn btn-primary" type="button" value="Choisir un avatar..." />
            </div>
        </div>

        <div class="main col-md-6">
            <h4>Liste des films</h4>
            <hr />
            <div class="row">
                <div class="col-xs-5">
                    <!--
                    This hidden input is used to pass the selected friend Ids
                    on the submit event of this form (refer to javascript code in utilies.js)
                -->
                    <!-- NC -->
                    <input name="Items" id="Items" type="hidden" value="" />
                    <!-- NC -->
                    <select multiple="multiple" id="ItemList" size="12"></select>
                </div>
                <div class="col-xs-2" style="text-align:center">
                    <img src="~/Images/Icons/Moveleft.png" class="CMD_Icon pointer" id="MoveLeft" />
                    <img src="~/Images/Icons/MoveRight.png" class="CMD_Icon pointer" id="MoveRight" />
                </div>
                <div class="col-xs-5">
                    <!-- NC -->
                    <select multiple="multiple" id="PoolList" size="12">
                        @foreach (TPWeb.Models.Movie Movie in ViewBag.Movies)
                        {
                            <option value="@Movie.id">
                                @Movie.title
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!-- NC il faut id="save" -->
                <input type="submit" value="Create" class="btn btn-default" id="save" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
