@model TPWeb.Models.Actor

@{
    ViewBag.Title = "Détails";
}

<div>
    <h4>Acteur</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <img src="@Url.Content(Model.GetAvatarURL())" class="BigAvatar" />
        </div>
        <div class="col-md-7">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.name)</dt>
                <dd>@Html.DisplayFor(model => model.name)</dd>

                <dt>@Html.DisplayNameFor(model => model.country)</dt>
                <dd>@Html.DisplayFor(model => model.country)</dd>

                <dt>@Html.DisplayNameFor(model => model.birthday)</dt>
                <dd>@Html.DisplayFor(model => model.birthday)</dd>

            </dl>
            <div class="col-md-3" style="font-size:large;">
                <h3 style="margin-top:0px;">Liste de films</h3>
                <select multiple="multiple" id="ParutionsList" size="7">
                    @foreach (TPWeb.Models.Movie Movie in ViewBag.ParutionsList)
                    {
                        <option value="@Movie.id">
                            @Movie.title
                        </option>
                    }
                </select>
            </div>
        </div>
        </div>


        <p>
            @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Retour", "Index")
        </p>
</div>