@model TPWeb.Models.Actor

@{
    ViewBag.Title = "Détails";
}

<div>
    <h4>Acteur</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.name)</dt>
        <dd>@Html.DisplayFor(model => model.name)</dd>

        <dt>@Html.DisplayNameFor(model => model.country)</dt>
        <dd>@Html.DisplayFor(model => model.country)</dd>

        <dt>@Html.DisplayNameFor(model => model.birthday)</dt>
        <dd>@Html.DisplayFor(model => model.birthday)</dd>


        <dt>@Html.DisplayNameFor(model => model.pictureId)</dt>
        <dd><img src="@Url.Content(Model.GetAvatarURL())" class="BigAvatar" /></dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour", "Index")
</p>
